extends ../layout

block content
	.col-sm-5
	.col-sm-1
		form(action="/admin/articles/update/#{article._id}?redirect_url=#{redirect_url}", method="post")
			input(type="hidden", name="author", value="#{article.author}")
			.form-group
				select.form-control(name="region")
					each region in regions
						if region.name == article.region.name
							option(selected="selected", value="#{region._id}")= region.name
						else
							option(value="#{region._id}")= region.name

			input(type="hidden", name="board", value="#{article.board._id}")

			.form-group
				input.form-control(type="text", name="title", value="#{article.title}")
			.form-group
				textarea.form-control(name="content", value="#{article.content}")

			.form-group
				button.btn.btn-primary(type="submit", href="#{redirect_url}") Update

