extends ../layout

block content

	table.table
		tr
			th ID
			th Author
			th Regions
			th Board
			th Category
			th title
			th content
			th photos
			th Option
				if articles
					each article in articles
						tr
							td= article._id
							td= article.author ? article.author.local.name : ""
							td= article.region.name
							td= article.board.name
							td= article.category
							td= article.title
							td= article.content
							td= article.photos 
							td
								a.btn.btn-default(type="button", href="/admin/articles/edit/#{article._id}?redirect_url=#{jadeHelper.encodeURI(url)}") Edit
								a.btn.btn-default(type="button", href="/admin/articles/delete/#{article._id}?redirect_url=#{jadeHelper.encodeURI(url)}") Delete

