extends ../layout

block content
	a.btn.btn-primary(type="button", href="/admin/places/new") New Place 
	a.btn.btn-primary(type="button", href="/admin/places/edit") View Map

	table.table
		tr
			th ID
			th Region
			th Name
			th Position
			th Option
				if places
					each place in places 
						tr
							td= place._id
							td= place.region.name
							td
								a(href="/places/#{place._id}")= place.name
							td #{place.latitude}, #{place.longitude}
							td
								a.btn.btn-default(type="button", href="/admin/places/edit/#{place._id}?redirect_url=#{jadeHelper.encodeURI(url)}") Edit
								a.btn.btn-default(type="button", href="/admin/places/delete/#{place._id}?redirect_url=#{jadeHelper.encodeURI(url)}") Delete
