extends ../layout 
block script
	script(src="//cdn.tinymce.com/4/tinymce.min.js")
	script(src="/stylesheets/tinymce.css")
	script(src="/javascripts/tinymce_page.js")
	script(src="/javascripts/articles/new.js")
	script(src="/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js")
	script(src="/plugins/jquery-file-upload/js/jquery.iframe-transport.js")
	script(src="/plugins/jquery-file-upload/js/jquery.fileupload.js")

block header
	include ../main_nav

block content
	form(action="/articles/create?redirect_url=#{redirect_url}", method="post")
		.form-group
			select.form-control(name="region")
				each region in regions
					if (current_region == region._id)
						option(selected="selected", value="#{region._id}")= region.name
					else
						option(value="#{region._id}")= region.name

		input(type="hidden", name="board", value="#{board._id}")
			
		.form-group
			select.form-control(name="category")
				each category in board.categories
					option(value="#{category}")= category

		.form-group
			input.form-control(type="text", name="title")
		.form-group
			textarea.tinymce.form-control(name="content")
				
		button.btn.btn-primary(type="submit") 글쓰기

		input.tinymce-image-input(type="file", name="files[]", data-url="/upload", mutiple="true")

