extends ../layout

block script
	script(src="//cdn.tinymce.com/4/tinymce.min.js")
	script(src="/javascripts/articles/new.js")

block header
	include ../main_nav

block content
	form(action="/articles/create?redirect_url=#{redirect_url}", method="post")
		.form-group
			select.form-control(name="region")
				each region in regions
					if (current_region == region._id)
						option(selected="selected", value="#{region._id}")= region.name
					else
						option(value="#{region._id}")= region.name

		.form-group
			select.form-control(name="board")
				each board in boards
					if (current_board == board._id)
						option(selected="selected", value="#{board._id}")= board.name
					else 
						option(value="#{board._id}")= board.name
								
		.form-group
			select.form-control(name="category")
				option(value="#{category}")= category

		.form-group
			input.form-control(type="text", name="title")
		.form-group
			textarea.tinymce.form-control(name="content")
		
		button.btn.btn-primary(type="submit") 글쓰기

