extends ../layout

append script
	link(rel="stylesheet", href="/stylesheets/articles/show.css")
	if (region)
		link(rel="stylesheet", href="/stylesheets/partials/region_header.css")
	link(rel="stylesheet", href="/stylesheets/partials/article_row.css")
	link(rel="stylesheet", href="/stylesheets/mixins/comment_field.css")

	script(rel="javascript", src="/javascripts/star_button.js")
	script(rel="javascript", src="/javascripts/articles/show.js")
block center_content
		.article-wrapper
			.container
				.row.title-row
					.col-xs-12
						+star-box(false, article.star, "large")
						span.title= article.title
				.row.date-row
					.col-xs-12
						span.created-at= article.createdAt.prettify()
						if (article.updatedAt) 
							span.updated-at #{article.updatedAt.prettify()}에 수정됨
				.row.body-row
					.col-xs-12
						.article-content!= article.content
				.row.tags-row
					.col-xs-12
						each tag in article.tags
							.tag-item
								span= tag
				.row.recommend-row
					.col-xs-12
						.star-row
							+star-box(false, article.star, "large")
						+star-button("/articles/addStar", article._id)
				.row.option-row
					.col-xs-6.reply-button-row
						a.reply-button.btn.btn-warning(type="button", href="#replyForm") 댓글달기
					.col-xs-6.report-button-row
						a.report-button(href="#report") 부적절한 게시물인가요?

			if (article.comments)
				each comment in article.comments
					.container.comment-container(id="#{comment._id}")
						.row.comment-header
							.col-xs-12
								span.author-info= jadeHelper.user.getName(comment.author)
								span.author-name-postfix 님의 말

						.row.date-row
							.col-xs-12
								span.created-at= comment.createdAt.prettify()
								if (comment.updatedAt)
									span.updated-at #{comment.updatedAt.prettify()}에 수정됨
						.row.body-row
							.col-xs-12
								.comment-content
									each line in jadeHelper.getTextLines(comment.content)
										span= line
										br
						.row.recommend-row
							.col-xs-12
								.star-row
									+star-box(comment.star, "large")
								+star-button("/comments/addStar", comment._id)

						.row.option-row
							.col-xs-6.reply-button-row
								a.reply-button.btn.btn-warning(type="button", href="#replyForm") 댓글달기
							.col-xs-6.report-button-row
								a.report-button(href="#report") 부적절한 게시물인가요?


			include ../mixins/comment_field.jade
			+comment_field("/comments/create", "article", article._id, url)

			
		if (other_articles)
			include ../mixins/article_row.jade
			.other-articles
				table.table
					each article in other_articles
						+article_row(article, region, regions, boards)
								
		//</aritlce-wrapper
