extends ../layout

block content
	.col-sm-5
	.col-sm-1
		form(action="/admin/regions/update/#{region._id}", method="post")
			.form-group
				input.form-control(type="text", name="name", placeholder="이름", value="#{region.name}")
			.form-group
				input.form-control(type="text", name="url", placeholder="Url", value="#{region.url}")
			.form-group
				input.form-control(type="text", name="promotion_text", placeholder="홍보 문구", value="#{region.promotion_text}")
			.form-group
				input.form-control(type="text", name="background_image_path", placeholder="/background_images/region_name.png", value="#{region.background_image_path}")

			button.btn.btn-default.btn-block(type="submit") Update



