extends ../layout

block content
	table.table
		tr
			th ID
			th Blog
			th Name 
			th Type 
			th Option
				if boards 
					each board in boards 
						tr
							td= board._id
							td= board.blog
							td= board.name
							td= board.type
							td
								a.btn.btn-default(type="button", href="/admin/boards/delete/#{board._id}") Delete


