extends ../layout

block script
	link(rel ="stylesheet", href="/stylesheets/boards/main.css")

block header
	include ../main_nav

block content
	#content
		.head-banner
			.region-banner
				.region-banner-background
					img(src="#{jadeHelper.tryDefaultImage(region.background_image_path, '/images/background_images/default.jpg')}")
				.region-banner-text
						h1= region.name
			.board-banner
				.banner-text-container
					span= board.name
		.articles-container
			a.btn.btn-primary(type="button", href="/articles/new?region=#{region._id}&board=#{board._id}") 새 글 쓰기 
			.articles-list
				table
					if (articles)
						each article in articles
							tr
								td
									a(href="/articles/#{article._id}")= article.title
								td= article.author




	


