extends ../layout

block content
	button.btn.btn-primary(type="button", data-toggle="modal", data-target="#newBoardModal") New Board

	table.table
		tr
			th ID
			th Name
			th Option
				if boards
					each board in boards
						tr
							td= board._id
							td= board.name
							td
								a.btn.btn-default(type="button", href="/admin/articles?board_id=#{board._id}") Articles
								a.btn.btn-default(type="button", href="/admin/boards/edit/#{board._id}?redirect_url=#{jadeHelper.encodeURI(url)}") Edit
								a.btn.btn-default(type="button", href="/admin/boards/delete/#{board._id}?redirect_url=#{jadeHelper.encodeURI(url)}") Delete


	include new
