extends ../layout


block script
	link(rel = "stylesheet", href="/stylesheets/regions/main.css")
	script(src="/javascripts/regions/main.js")

block script_variables 
	| var local_data = !{JSON.stringify(local_data)};   
	

block center_content 
	.head-sector
		.background
			img(src="#{jadeHelper.tryDefaultImage(background_image_path, '/images/background_images/default.jpg')}")
		.head-content
			.middle
				.promotion-box
					h1= region.name
					h2= region.promotion_text
			.bottom-menu
				.menu-box
					if (region.boards)
						each board in region.boards
							- query = jadeHelper.buildGetQuery({ regions: [region._id.toString()], boards: [board._id.toString()] })
							a.btn.btn-default(href="/articles?#{query}")= board.name
	.body-sector
		.hot-articles
			h2 최신 게시글
			h2 인기 여행기
			h2 질문글들
		.hot-courses
			.region-map
				#map
			.places
				if (region.places)
					each place in region.places
						.place-item
							button.place-button.btn.btn-default(type="button", data-id="#{place._id}") 
								span= place.name
								span= place.description
	

	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdZTd-irAaxjv6JcGvXSH-NBWC-8Gq-6g&callback=initMap", async, defer)
