extends ../layout

block script
	link(rel = "stylesheet", href="/stylesheets/regions/main.css")

block header
	include ../main_nav

block content
	#content
		.head-sector
			.background
				img(src="#{jadeHelper.tryDefaultImage(background_image_path, '/images/background_images/default.jpg')}")
			.head-content
				.middle
					.promotion-box
						h1= region.name
						h2= region.promotion_text
				.bottom-menu
					.menu-box
						each board in boards
							- query = jadeHelper.buildGetQuery({ regions: [region._id.toString()], boards: [board._id.toString()] })
							a.btn.btn-default(href="/articles?#{query}")= board.name
		.body-sector
#						a.btn.btn-default(href="/regions/#{region.url}/boards/#{board._id}")= board.name

