extends ../layout


block script
	link(rel = "stylesheet", href="/stylesheets/regions/main.css")
	script(src="/javascripts/map_manager.js")
	script(src="/javascripts/regions/main.js")
	script(src="/bower_components/lodash/dist/lodash.min.js")
	script(src="/bower_components/angular/angular.min.js")
	script(src="/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js")
	script(src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js")


block script_variables 
	| var local_data = !{JSON.stringify(local_data)};   
	

block center_content 
	.head-sector
		.background
			img(src="#{jadeHelper.tryDefaultImage(background_image_path, '/images/background_images/default.jpg')}")
		.head-content
			.middle
				.promotion-box
					h1= region.name
					h2= region.promotion_text
			.bottom-menu
				.menu-box
					if (region.boards)
						each board in region.boards
							- query = jadeHelper.buildGetQuery({ region: region._id.toString(), regions: [region._id.toString()], boards: [board._id.toString()] })
							a.btn.btn-default(href="/articles?#{query}")= board.name
					a.btn.btn-default(href="/regions/#{region.url}/photos/") 한장사진
	.body-sector
		.hot-articles
			.recent-articles
				h4.category-header 새로운 글들
				each article in recent_articles
					include ../partials/article_brief.jade
			.hot-travels
				h4.category-header 인기있는 여행기 
				each article in recent_articles
					include ../partials/article_brief.jade
			.questions
				h4.category-header 도움이 필요해요
				each article in recent_questions
					include ../partials/article_brief.jade
		.testmap(ng-app="google-map", ng-controller="googleMapController as gMapController")
			ui-gmap-google-map(center='map.center', zoom="map.zoom")

		.hot-courses
			.region-map
				#map
			.places
				if (region.places)
					each place in region.places
						.place-item
							button.place-button.btn.btn-default(type="button", data-id="#{place._id}") 
								span= place.name
								span= place.description


	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdZTd-irAaxjv6JcGvXSH-NBWC-8Gq-6g&callback=initMap", async, defer)
